body{
  height: 100vh;  
  background-image: url('./assets/Blurred-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

background{
  position: fixed;
  width: 100%;
  height: 400px;
  float: left;
}

#root{
  height: 100%;
}

#app-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login{
  display: flex; 
  justify-content: center;
  align-items: center;
}