

body{

  height: 100vh;  
  
  background-image: url('./assets/background.png');
  background-size: cover;
}


#root{
  height: 100%;
}

#app-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}


.login{
  display: flex; 
  justify-content: center;
  align-items: center;
}