.form-section{
  display: flex;  
  justify-content: center;
  align-items: center;
  
}


.card-container{
  display:flex;
  
}


.restaurants{
  background-color: aqua;
  width: 20vw;
  border: beige solid 9px;
  border-radius: 20px 20px;
  margin: .9vw;
  padding: 1vw;
  background: linear-gradient(#e66465, #9198e5);
  
}